.scroll-nav li.dropdown:hover > ul {
    display: block;
 }
 
 .scroll-nav .child-menu li:hover > ul {
    display: block;
 }
 
.scroll-nav #navigation .nav .dropdown-menu {
  padding: 0;
}

.scroll-nav #navigation .nav .dropdown-menu li {
  background-color: #020101;
  border-bottom: 1px solid #333;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
  padding: 7px 0px !important;
  text-decoration: none;
  text-shadow: 1px 1px 2px #000;
  transition: all 0.25s linear 0s;
}

.scroll-nav #navigation .nav .dropdown-menu li:hover {
  background-color: #65B14A;
  color: #fff !important;
}
.scroll-nav #navigation .nav .dropdown-menu li a:hover {
  color: #fff;
  text-decoration: none;
}

.scroll-nav #navigation .nav .dropdown-menu .child-menu-1 {
  margin-left: 100% !important;
  position: absolute;
  top: 0;
}
.scroll-nav #navigation .nav .dropdown-menu .child-menu-2 {
  margin-left: 100% !important;
  position: absolute;
  top: 0;
}
.scroll-nav #navigation .nav .dropdown-menu .child-menu-3 {
  margin-left: 100% !important;
  position: absolute;
  top: 0;
}

.scroll-nav .nav {
  margin: 0 !important;
}
.scroll-nav #navigation {
  margin: 0;
}
.scroll-nav .navbar-inner {
  background-color: #fff !important;
}
.scroll-nav #navigation .navbar-inner li a {
  color: #000;
  transition: all 0.9s ease 0s;
}
.scroll-nav #navigation .navbar-inner li a:hover {
  color: #65b14a;
  text-decoration:none;
}
.scroll-nav #navigation .nav > li > a {
  padding: 9px 0;
}
/* .scroll-nav #navigation .nav > li {
  padding: 0 53px;
}

.scroll-nav #navigation .nav > li:nth-child(5) {
  padding-right: 10px;
  padding-left: 100px;
}
.scroll-nav #navigation .nav > li:nth-child(6) {
  padding: 0 0 0 30px;
}
.scroll-nav #navigation .nav > li:nth-child(7) {
  padding: 0 15px 0 40px;
}
.scroll-nav #navigation .nav > li:nth-child(8) {
  padding: 0 12px;
}
.scroll-nav #navigation .nav > li:nth-child(9) {
  padding: 0 10px;
}

.scroll-nav #navigation .nav > li:first-child {
  padding-left: 0;
}
.scroll-nav #navigation .nav > li:last-child {
  padding-right: 0;
} */
.scroll-nav #navigation .nav li.active > a {
  background-image: none;
  background-color: transparent;
}
