.menu-text {
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2em;
  margin: 2px 0;
  padding: 8px 0 7px 0;
  text-transform: uppercase;
  font-family: Arial,Helvetica,sans-serif;
  text-align: center;
}

.menu-icon {
  /* background: url("../images/nav-toggle.png") no-repeat scroll left center white; */
  cursor: pointer;
  display: inline-block;
  font-size: 1.2em;
  margin: 2px 0;
  padding: 8px 0 7px 0;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.menuDIV {
	background-image: url("../images/navigation-back-full.gif");
	background-position: left top;
	background-repeat: repeat-x;
}


span.smartphone-nav-heading {
  font-family: "Cinzel",serif;
  font-size: 1.1em;
  text-shadow: 1px 1px 0 black;
  text-rendering: optimizeLegibility;
  cursor: pointer;
  outline: 0 none;
  padding: 9px 5px 9px;
  text-transform: uppercase;
  line-height: 1.5em;
  list-style: none;
  zoom: 1;
  line-height: 1.5em;
  list-style: none;
  display: block;
  color: rgba(255, 255, 255, 0.6);
}

li.smartphone-nav-parent {
  position: relative;
  /* float: left; */
  vertical-align: middle;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
  zoom: 1;
}

ul.smartphone-nav-ul {
  left: -5px !important;
  float: left !important;
  width: 100% !important;
  position: relative;
  top: -1px;
  height: auto;
  background: black;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5em;
  list-style: none;
  margin: 2px auto !important;
  text-align: left;
  padding-left: 0!important;
}

span.smartphone-nav-unselected-item-level1 {
  text-decoration: none;
  padding-left: 25px;
  text-align: left;
  font-family: Times New Roman;
  font-size: 1.3em;
  cursor: pointer;
  outline: 0 none;
  padding: 9px 5px 9px;
  font-family: "Cinzel",serif;
  font-size: 1.1em;
  text-shadow: 1px 1px 0 black;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  text-transform: none;
  zoom: 1;
  line-height: 1.5em;
  list-style: none;
  display: block;
}

span.smartphone-nav-selected-item-level1 {
  text-decoration: none;
  padding-left: 25px;
  text-align: left;
  font-family: Times New Roman;
  font-size: 1.3em;
  cursor: pointer;
  outline: 0 none;
  padding: 9px 5px 9px;
  font-family: "Cinzel",serif;
  font-size: 1.1em;
  text-shadow: 1px 1px 0 black;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  text-transform: none;
  zoom: 1;
  line-height: 1.5em;
  list-style: none;
  display: block;
}


li.smartphone-nav-children-level1-li {
  border-bottom: 1px solid #222E3A;
  /* color: #fff; */
  border-top: 0;
  float: none;
  font-size: 13px;
  font-weight: normal;
  text-transform: none;
  position: relative;
  margin: 0 !important;
  vertical-align: middle;
  zoom: 1;
  padding: 0 0 !important;
  line-height: 1.5em;
  list-style: none;
}

ul.smartphone-nav-children {
  max-height: 100em;
  background: none repeat scroll 0 0 #334353;
  z-index: 598;
  /* width: 100%; */
  top: 100%;
  left: 0;
  line-height: 1.5em;
  list-style: none;
  padding-left: 0!important;
  margin-bottom: 0;
  margin-top: 0;
  margin-left:0;
}

span.smartphone-nav-unselected-item-level2 {
  text-align: left;
  font-family: Times New Roman;
  font-size: 1.3em;
  cursor: pointer;
  display: block;
  outline: 0 none;
  padding: 9px 5px 9px;
  -webkit-box-sizing: border-box;
  text-shadow: 1px 1px 0 black;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  text-transform: none;
  zoom: 1;
  line-height: 1.5em;
  list-style: none;
  padding-left: 45px;
}

li.smartphone-nav-children-level2-li {
  border-bottom: 1px solid #222E3A;
  color: #fff;
  border-top: 0;
  float: none;
  font-size: 13px;
  font-weight: normal;
  text-transform: none;
  position: relative;
  margin: 0 !important;
  vertical-align: middle;
  display: block;
  zoom: 1;
  padding: 0 0 !important;
  line-height: 1.5em;
  list-style: none;
}

ul.smartphone-nav-children-level2 {
  background: none repeat scroll 0 0 #334353;
  top: 0;
  left: 100%;
  line-height: 1.5em;
  list-style: none;
  font-size: 13px;
  font-weight: normal;
  text-transform: none;
  margin-left: 0;
}

.hasChildren-show{
	background-image: url("../images/plus_image.jpg");
	width:36px;
	height:29px;
}

.hasChildren-hide {
	background-image: url("../images/minus_image.jpg");
	width:36px;
	height:29px;
}

.hasChildren-plus:before {
	content: "+";
  	float: right;
  	margin-right: 10px;
}

.hasChildren-minus:before {
	content: "-";
  	float: right;
  	margin-right: 10px;
}

 