ul.sidenav-custom-ul {
    margin: 0 !important;
}

.sidenav-custom-ul li {
  border-bottom: 0px solid #faf7ef !important;
  color: #000;
  font-size: 16px;
  list-style: inside disc !important;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.sidenav-custom-ul li a {
    color: #000;
    display: block;
    text-decoration: none;
    padding: 0 0 0 20px;
}

.sidenav-custom-ul li a:hover {
	color: #21201e;
	/* transition: all 0.3s ease-in-out 0s; */
	text-decoration: none;
	background-color: #ededed;
	background-image: url(/documents/10184/0/side-nav-image.png);
	background-repeat: no-repeat;
	background-position: 3% 44%;
}

.sidenav-custom-ul span.un-selected {
  display: block;
  font-size: 18px;
  padding: 5px 0;
  text-decoration: none;
  text-transform: capitalize;
}

.sidenav-custom-ul .selected-link .selected {
  color: #21201e;
  display: block;
  font-weight: normal;
  padding: 10px 0 12px;
}

.selected-link .selected:hover {
  color: #999;
}

.q-links .q-links-heading {
  color: #000;
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-left: 0;
  padding-top: 0;
  text-transform: uppercase;
}

.q-links .aui .portlet, .aui .portlet-borderless-container {
  margin: 0;
  padding: 0;
  min-height: auto;
}

.sidenav-custom-div ul li {
    list-style-type: none !important;
}

@media only screen 
  and (min-width: 220px) 
  and (max-width: 767px) {

	.quick-link-heading h1 {
			text-align: center;
	}
	
	.sidenav-custom-ul li {
		text-align: center;
	}
}

