.teetime-webservice {

.iceSelInpTxtList {
	border: 0px groove #B3B1B4;
	margin-left: 0;
	vertical-align: middle;
	padding-left: 1px;
	position: relative !important;
	top: 0px !important;
	z-index: 1 !important;
}

.iceSelInpTxtSelRow {
	background-color: #f6f6f6;
	border-color: #ddd;
	color: #333;
	text-shadow: 0 1px 0 #f3f3f3;
	border-right-width: 1px;
	border-left-width: 1px;
	border-width: 1px 0 0 0;
	border-style: solid;
	margin: 0;
	display: block;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
	padding-right: 2.5em;
	font-size: 16px;
	padding: .7em 1em;
	cursor: pointer;
	-webkit-user-select: none;
	text-decoration: none !important;
	line-height: 1.3;
	font-family: sans-serif /*{global-font-family}*/;
	right: .5625em;
	top: 50%;
	margin-top: -11px;
	content: "";
	display: block;
	height: 22px;
}

.iceSelInpTxtRow {
	background-color: #f6f6f6;
	border-color: #ddd;
	color: #333;
	text-shadow: 0 1px 0 #f3f3f3;
	border-right-width: 1px;
	border-left-width: 1px;
	border-width: 1px 0 0 0;
	border-style: solid;
	margin: 0;
	display: block;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
	padding-right: 2.5em;
	font-size: 16px;
	padding: .7em 1em;
	cursor: pointer;
	-webkit-user-select: none;
	text-decoration: none !important;
	line-height: 1.3;
	font-family: sans-serif /*{global-font-family}*/;
	right: .5625em;
	top: 50%;
	margin-top: -11px;
	content: "";
	display: block;
	height: 22px;
}

.popup-center-align {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.full-input-width {
	width: 100%;
}

.shotgun-template {
	background-color: #ccc !important;
}

.double-tee-template {
	background-color: #ccc !important;
}

.overFrostBlock {
	background-image: url("../images/teesheet/rainout.png") !important;
}

.half-input-widthTxt {
	width: 100% !important;
	padding-right: 140px !important;
}

.creditCardInfo-label {
	font-size: 12px !important;
}

.creditCardInfo-error {
	font-size: 12px !important;
	background-color: #fee5e2;
	border-color: #fcaca5;
	color: #b50303 !important;
}

@media ( max-width : 500px) {
	.aui body {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

h2.heading-height {
	line-height: normal !important;
}

.tabs-custom {
	background-color: #f6f6f6 !important;
	border-color: #ddd !important;
	color: #333 !important;
	text-shadow: 0 1px 0 #f3f3f3 !important;
	font-weight: bold !important;
}

.course-name-custom {
	font-weight: bold !important;
}

.course-selection-link-custom {
	background-color: #f6f6f6 !important;
	border-color: #ddd !important;
	color: #333 !important;
	text-shadow: 0 1px 0 #f3f3f3 !important;
	font-weight: bold !important;
	line-height: 1.3 !important;
}

.select-course-custom {
	background-color: #e9e9e9 !important;
	border-color: #ddd !important;
	color: #333 !important;
	text-shadow: 0 1px 0 #eee !important;
	font-weight: bold !important;
	line-height: 1.3 !important;
}

.h1-custom {
	line-height: normal !important;
}

.player-tabs-link-custom {
	background-color: #f6f6f6 !important;
	border-color: #ddd !important;
	color: #333 !important;
	text-shadow: 0 1px 0 #f3f3f3 !important;
	font-weight: bold !important;
	display: block !important;
	text-align: center !important;
	font-size: 12px !important;
}

.player-tabs-link-active-custom {
	background-color: #79854E !important;
	border-color: #3388cc !important;
	color: #fff !important;
	text-shadow: 0 1px 0 #005599 !important;
	font-weight: bold !important;
	display: block !important;
	text-align: center !important;
	font-size: 12px !important;
}

.uselastplay-custom {
	line-height: normal !important;
	border-color: #ddd !important;
	color: #333 !important;
	text-shadow: 0 1px 0 #f3f3f3 !important;
	font-size: 12px !important;
	font-weight: bold !important;
}

.holes-link-custom {
	border-color: #ddd !important;
	color: #333 !important;
	text-shadow: 0 1px 0 #f3f3f3 !important;
	font-weight: bold !important;
	font-size: 14px !important;
}

.ui-radio .ui-btn.ui-radio-on:after {
	border-color: #3388cc !important;
}

.player-input-custom-dis {
	padding-left: 10px !important;
	min-height: 3em !important;
	margin: 0 !important;
	text-align: left !important;
	border: 0 !important;
	background: transparent none !important;
	-webkit-appearance: none !important;
	-webkit-border-radius: inherit !important;
	border-radius: inherit !important;
	padding: .4em !important;
	line-height: 1.4em !important;
	display: block !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	outline: 0 !important;
	color: inherit !important;
	text-shadow: inherit !important;
	font-size: 16px !important;
	font-family: sans-serif !important;
}

.player-input-customTxt {
	padding-left: 10px !important;
	min-height: 3em !important;
	margin: 0 !important;
	text-align: left !important;
	border: 0 !important;
	background: transparent none !important;
	-webkit-appearance: none !important;
	-webkit-border-radius: inherit !important;
	border-radius: inherit !important;
	line-height: 1.4em !important;
	display: block !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	outline: 0 !important;
	color: inherit !important;
	text-shadow: inherit !important;
	font-size: 16px !important;
	font-family: sans-serif !important;
}

.player-resource-link-custom {
	line-height: 1.4em !important;
	height: 10px !important;
	min-height: 1.8em !important;
	width: 100px !important;
}

.tabs-active-custom {
	background-color: #79854E !important;
	border-color: #ffffff !important;
	color: #fff !important;
	text-shadow: 0 1px 0 #005599 !important;
	font-weight: bold !important;
}

.reservenow-custom {
	background-color: #79854e !important;
	border-color: #ddd !important;
	color: #333 !important;
	text-shadow: 0 1px 0 #f6f6f6 !important;
	font-size: 10px !important;
	padding: 6px !important;
	text-transform: uppercase !important;
	font-weight: bold !important;
	/* background-image: linear-gradient(to bottom, #f6f6f6, #f6f6f6) !important; */
	line-height: 1.3 !important;
}

.course-name-reservation-custom {
	font-weight: bold !important;
	font-size: 12px !important;
	line-height: 1.3 !important;
	margin-bottom: 0px !important;
}

.member-name-custom {
	display: block !important;
	height: 15px !important;
}

.notes-custom {
	height: 50px !important;
	max-height: 50px !important;
	resize: none !important;
	overflow: auto !important;
	-webkit-overflow-scrolling: touch !important;
	box-shadow: none !important;
	margin-bottom: 0px !important;
	padding: .4em !important;
	line-height: 1.4em !important;
	display: block !important;
	width: 100% !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	outline: 0 !important;
	padding: .4em !important;
	line-height: 1.4em !important;
	display: block !important;
	width: 100% !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	outline: 0 !important;
}

.dxt-border {
	border-bottom: 1px solid #fff;
}

.scroll-div {
	height: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.btn-reserve-area .iceCmdLnk-dis {
	background: silver none repeat scroll 0 0 !important;
	border: medium none;
	color: gray;
	cursor: no-drop;
}

.teeloader {
	background: url("../images/teesheet/loader.gif") no-repeat center center;
	height: 64px;
	width: 64px;
	position: fixed;
	z-index: 11111;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	display: none;
}

.resource-column-doubletees>span {
	margin: 6px 0 0 0;
	display: inline-block;
}

h3.availableSlotsHeading {
	text-align: center;
	font-size: 20px;
}

.availSlotsCheck {
	display: inline-block !important;
}

.availSlotsLabel {
	margin-left: 5px;
	display: inline-block !important;
}

.teetime-nextDay {
	background-image: url("../images/teesheet/icon-arrow-right.png")
		!important;
}

.teetime-previousDay {
	background-image: url("../images/teesheet/icon-arrow-left.png")
		!important;
}

.slots-li {
	margin: 0 !important;
	background: #e3e3e3
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0))) !important;
}

.ui-tabs-anchor {
	width: 100% !important;
	background-color: #f1f1f1 !important;
	color: #4f4f4f !important;
}

.ui-datatable-tablewrapper {
	overflow: inherit !important;
}

.ui-selectonebutton {
	width: 100%;
}

.ui-button-text-only {
	width: 24%;
}

.teeTimePortlet .ui-state-active {
	background-color: #79854E !important;
	border-color: #3388cc !important;
	color: #fff !important;
	text-shadow: 0 1px 0 #005599 !important;
	font-weight: bold !important;
	text-align: center !important;
	font-size: 12px !important;
}

.teetime-removePlayer {
	background-image: url("../images/teesheet/delete.png") !important;
}

.btn-course {
    color: #397293 !important;
    font-size: 12px;
    text-shadow: 0 1px 0 #ffffff !important;
    text-transform: uppercase !important;
    margin-right: 3px !important;
    margin-bottom:10px !important;
}
}