.fa-minus-square-wo {
	color: red;
	
}

.work-order-img img {
	width: 23px;
	height: 20px;
}

.member-info-grid label {
	word-break: break-all;
}

.work-order-detail-grid {
	text-align: left;
}

.member-info-grid {
	text-align: left;
}

.wo-no {
	color: $primary-color !important;
	text-decoration: underline !important;
}

.wo-grid-col {
	padding: 5px !important;
}