.events-event-reservation-dialog.ui-dialog {
	height: 90% !important;
	left: 2.5% !important;
	min-height: 90% !important;
	overflow-y: hidden;
	top: 5% !important;
	width: 95% !important;
}

.events-event-reservation-iframe {
	border: none;
	height: 100% !important;
	position: absolute;
	width: 100% !important;
	left: 0;
	top: 0;
	z-index: 300;
}

.events-advancelisting-eventtype {
	border-bottom: 1px solid #c1c1c1;
	border-top: 1px solid #c1c1c1;
	margin-bottom: 5px;
	padding: 10px 0;
	cursor: pointer;
}

.events-advancelisting-events {
	display: none;
	/* padding-left: 20px; */
}

.events-advancelisting-event:nth-child(1) {
	margin-top: 5px;
}

.events-advancelisting-event {
	border: 1px solid #c1c1c1;
	border-radius: 2px;
	box-sizing: border-box;
	margin-bottom: 5px;
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	display: table;
	margin-bottom: 5px;
	padding: 5px;
	display: table;
	margin-bottom: 5px;
	padding: 5px;
	cursor: pointer;
}

.events-advancelisting-itemhover:hover {
	background-color: #f8f8f8;
}

.events-advancelisting-eventdetail {
	width: 100%;
}

.events-advancelisting-eventname {
	font-size: 15px;
	font-weight: bold;
}

.events-advancelisting-eventtypename {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.25em;
}

.events-advancelisting-eventtimg {
	border-radius: 2px;
}

/* 641px and above */
@media ( min-width : 641px) {
	.events-advancelisting-eventtimg {
		float: left;
		height: 200px !important;
		width: 300px;
		min-width: 300px;
	}
	.events-advancelisting-event {
		display: flex;
	}
	.events-advancelisting-eventtimgcontainer {
		margin-right: 10px;
	}
}

/* 640px and less */
@media ( max-width : 640px) {
	.events-advancelisting-eventtimgcontainer {
		margin-bottom: 10px;
		text-align: center;
	}
	.events-advancelisting-event {
		display: table;
	}
}

.events-advancelisting-eventstatus {
	float: right;
	margin-left: 5px;
	text-transform: capitalize;
}

.events-advancelisting-eventstatus-reserved,
	.events-advancelisting-eventstatus-available {
	color: green;
}

.events-advancelisting-eventstatus-waitlist {
	color: yellow;
}

.events-advancelisting-eventstatus-unavailable {
	color: maroon;
}

.events-advancelisting-eventstatus-future {
	color: orange;
}

.events-advancelisting-eventstatus-noregistration {
	color: black;
}

.events-advancelisting-hr {
	margin: 10px 0 !important;
}

.events-advancelisting-clicktext {
	color: #c1c1c1;
	float: right;
	font-style: italic;
}

.events-pref-filters .ui-chkbox-box.ui-state-disabled {
	display: none;
}

.events-pref-filters .ui-state-disabled {
	font-weight: bold;
	margin-left: -30px;
	opacity: 1;
	text-decoration: underline;
}

.events-pref-checkbox-list-container {
	border: 1px solid #999;
	border-radius: 3px;
	height: 200px;
	overflow-y: auto;
	padding: 5px 0 0 5px;
}
/* 641px and above */
@media ( min-width : 641px) {
	.event-pref-col {
		padding-left: 10px;
	}
}

.events-list-ul {
	list-style: outside none none;
	margin: 0 !important;
}

.events-list-li {
	background: #ffffff;
}

.events-list-li:nth-child(odd) {
	
}

.events-event {
	cursor: pointer;
}

.events-hover:hover {
	background-color: #f8f8f8;
}

.events-title-container {
	margin-bottom: 10px;
}

.events-cal-link-container {
	margin-top: 10px;
}

.events-title-hr {
	margin: 5px 0 0 !important;
}

.events-title {
	font-size: 24px;
	font-weight: bold;
}

.events-event-reservation-iframe-loader-img {
	background: url(/northstar-primefaces-portlet/images/common/loader.gif) no-repeat center center;
	height: 64px;
	width: 64px;
	position: fixed;
	z-index: 200;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	display: none;
}

.events-event-reservation-iframe-overlay {
	background-color: black;
	filter: alpha(opacity =   50); /* IE */
	opacity: 0.8;/* Safari, Opera */
	-moz-opacity: 0.80; /* FireFox */
	z-index: 100;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	display: none;
}

.events-search-txt-container {
	float: left;
}

.events-search-btn-container {
	float: left;
	margin-left: 5px;
}

.events-reset-btn-container {
	float: left;
	margin-left: 5px;
}