.mp-picture-image {
	padding: .25em;
	box-shadow: 0 0 .1em rgba(0, 0, 0, 0.35);
	width: 120px;
	height: 179px !important;
	margin-bottom: 5px;
}

.col-head {
	width: 33.33333% !important;
}

.mp-grid-col {
	padding: 5px !important;
}

.mp-dep-picture-image {
	padding: 0.25em;
	box-shadow: 0 0 .1em rgba(0, 0, 0, 0.35);
	width: 90px;
	height: 95px !important;
	margin-bottom: 5px;
	margin-top: 25px;
}

.dependent-box {
	width: 100%;
	text-align: center;
	border: 1px solid #bcc2a7;
}

.mp-view-button {
	margin-bottom: 10px;
}

.mp-upload-delete {
	font-size: x-large;
}

.mp-edit-grid {
	
}

span.pm-secondary {
	word-break: break-all;
}

i.mp-upload {
	margin-right: 20px;
}

.mp-upload {
    margin-right: 20px;
}

.ui-datagrid-content-empty {
	color: #bf7900;
	background-color: #fffbdc !important;
	border: 1px solid #f1d875 !important;
}

@media ( max-width : 640px) {
	.mp-picture-image {
		height: 115px !important;
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.mp-grid-col {
		padding: 0px !important;
	}
	.mp-dn-heading {
		text-align: center;
	}
	.mp-email {
		font-size: 15px;
		word-break: break-all;
	}
}