.pinch-datatable {
	margin-top: 10px;
}

.pinch-dep-box {
	text-align: center;
}

.pinch-revert-icon {
	font-size: large;
	color: darkorange;
}

@media ( max-width : 640px) {
	.pinch-revert-icon {
		display: none;
	}
}