.ui-area-btn-primary {
    background-color: $primary-bg !important;
    color: $Light-fontColor !important;
    text-decoration: none !important;
}
.ui-area-btn-secondry {
    background-color:$secondry-bg !important;
     color: $Light-fontColor !important;
a {
    background-color: $color-primary-light !important;
	&:hover {
    background-color: $color-primary-light !important;
    }
  }
}

.ui-area-btn-danger {
    background-color: $danger-bg !important;
     color: $Light-fontColor !important;
}
.ui-area-btn-warning {
    background-color: $warning-bg !important;
     color: $Light-fontColor !important;
}
.ui-area-btn-success {
    background-color: $success-bg !important;
    color: $Light-fontColor !important;
}
#ui-area .btn-success{
    background-color: #0271c9 !important;
    color: #fff !important;
    background-image: none;
    border: none; 
}
.ui-area-btn-inverse {
    background-color: $inverse-bg !important;
    color: $dark-fontColor !important;
}
.ui-area-btn-info {
    background-color: $info-bg !important;
    color: $dark-fontColor !important;
}

.ui-area-btn-print {
    background-color: $print-bg !important;
    color: $Light-fontColor !important;
}

.ui-area-btn-next {
    background-color:$nextx-previous-bg !important;
    color: $dark-fontColor !important;
}

.ui-area-btn-previous {
    background-color: $nextx-previous-bg !important;
    color: $dark-fontColor !important;
}

.ui-area-btn-statement {
    background-color: $statement-bg !important;
    color: $Light-fontColor !important;
}

.ui-area-btn-statement-active {
    background-color: $statement-active !important;
    color: $Light-fontColor !important;
}

.ui-area-btn-make-payment {
    background-color: $makepayment-bg !important;
    color: $Light-fontColor !important;
    transition: 0.5s all ease;
}
.ui-area-btn-make-payment:hover {
    background-color: $makepayment-hover  !important;
     color: $Light-fontColor !important;
}
.stmt-print-button {
    background-color:$statement-print !important;
    color: $Light-fontColor !important;
}
.stmt-print-button:hover {
    background-color: $color-primary-light !important;
    color: $Light-fontColor !important;
}
.ui-area-btn-campaign-on {
    background-color:$statement-hover !important;
    color: $Light-fontColor !important;
}

.ui-area-btn:hover {
    text-decoration: none !important;
}


.aui .btn {
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0) !important
}

.aui .btn {
    margin: 2px !important
}

.ui-area-btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f1f1f1;
    background-image: none !important;
    background-repeat: repeat-x;
    border-color: #cfcfcf #cfcfcf #b5b5b5;
    border-image: none;
    border-radius: 0px;
    border-style: solid;
    border-width: 0px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: inherit !important;
    margin-bottom: 0;
    padding: 6px 10px;
    text-align: center;
    /*   text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); */
    vertical-align: middle;
    border: 0 !important;
    border-radius: 2px !important;
    /*  min-width: 70px !important; */
}
.ui-area-btn:hover {
	text-decoration: none !important;
}

.tabButton {
  background-color:$inverse-bg;
  border: medium none;
  color: $Light-fontColor;
  margin: 0 !important;
}
.textfieldsbt2 {
  background-color: $inverse-bg;
  border: medium none black;
  color: $Light-fontColor;
}