.horizontal-dates {
	max-height: 130px;
	overflow-y: hidden;
	overflow-x: scroll !important;
	list-style: none;
	padding: 0;
	text-align: center;
	border-radius: 5px;
}

.horizontal-dates div {
	display: inline-block;
	text-align: center;
	padding: 0;
	background-color: $Light-fontColor;
	box-shadow: 0 0 2px #949494;
	border-radius: 4px;
	width:13.7%;
}

.horizontal-dates::-webkit-scrollbar {
	display: none;
}

.horizontal-dates a {
	text-decoration: none;
	color: #7abee4;
	text-shadow: none;
	font-size: 14px;
	font-weight: normal;
	display: block;
	padding: 2px;
	transition: 0.8s all ease;
}
.horizontal-dates a:hover {
    background-color: $primary-bg;
    color: $Light-fontColor;
}
span.calendar-day, span.calendar-date, span.calendar-year {
	display: block;
}

span.calendar-year {
	padding: 1px 0 1px 0;
	color: $Light-fontColor;
	font-weight: normal;
	background-color: $secondry-bg;
}

.horizontal-dates a.selected-date {
   	background-color: $primary-bg !important;
   	color: $Light-fontColor !important;
}

.backward-controls a, .forward-controls a {
    font-size: 30px !important;
    display: block;
 	text-align: center;
}

.backward-controls a:focus, .forward-controls a:focus {
	outline: none !important;
}

.backward-controls span {
    font-size: 30px !important;
    display: block;
 			text-align: center;
}

.forward-controls span {
    font-size: 30px !important;
    display: block;
 			text-align: center;
}

.horizontal-date-picker {
	width:100% !important;
	display: table !important;
	margin: 5px 0px 5px 0px !important;
}

.backward-controls, .forward-controls {
	display: table-cell !important;
	max-width:20px !important;
	vertical-align:top !important;
}

.horizontal-dates a {
    text-decoration: none !important;
}

@media ( max-width : 500px) {
	.backward-controls, .forward-controls {
		display: block !important;
	    max-width: 100% !important;
	    width: 100% !important;
	    background: #f1f1f1;
	}
	
	.backward-controls span, .forward-controls span, .backward-controls a, .forward-controls a{
		background: rgba(162, 159, 159, 0.41) !important;
  			margin: 2px !important;
	}
	
	.backward-controls span, .backward-controls a {
		width:48%;
		display:inline-block
	}
	.forward-controls span, .forward-controls a {
		width:48%;
		display:inline-block
	}
}